# FLIGHT PRICE PREDICTION ( EDA FEATURE ENGINEERING )

In [206]:
train_df = pd.read_excel('Data_Train_flight.xlsx')

In [207]:
train_df.head()

       Airline Date_of_Journey    Source Destination  ... Duration Total_Stops Additional_Info  Price
0       IndiGo      24/03/2019  Banglore   New Delhi  ...   2h 50m    non-stop         No info   3897
1    Air India       1/05/2019   Kolkata    Banglore  ...   7h 25m     2 stops         No info   7662
2  Jet Airways       9/06/2019     Delhi      Cochin  ...      19h     2 stops         No info  13882
3       IndiGo      12/05/2019   Kolkata    Banglore  ...   5h 25m      1 stop         No info   6218
4       IndiGo      01/03/2019  Banglore   New Delhi  ...   4h 45m      1 stop         No info  13302

[5 rows x 11 columns]

In [208]:
test_df =  pd.read_excel('Test_set_flight.xlsx')

In [209]:
test_df.head()

             Airline Date_of_Journey    Source  ... Duration Total_Stops              Additional_Info
0        Jet Airways       6/06/2019     Delhi  ...  10h 55m      1 stop                      No info
1             IndiGo      12/05/2019   Kolkata  ...       4h      1 stop                      No info
2        Jet Airways      21/05/2019     Delhi  ...  23h 45m      1 stop  In-flight meal not included
3  Multiple carriers      21/05/2019     Delhi  ...      13h      1 stop                      No info
4           Air Asia      24/06/2019  Banglore  ...   2h 50m    non-stop                      No info

[5 rows x 10 columns]

In [266]:
final_df = pd.concat([train_df.reset_index(drop= True)  , test_df.reset_index(drop = True) ])

In [267]:
final_df.tail()

                Airline Date_of_Journey   Source Destination  ... Duration Total_Stops Additional_Info Price
2666          Air India       6/06/2019  Kolkata    Banglore  ...  23h 55m      1 stop         No info   NaN
2667             IndiGo      27/03/2019  Kolkata    Banglore  ...   2h 35m    non-stop         No info   NaN
2668        Jet Airways       6/03/2019    Delhi      Cochin  ...   6h 35m      1 stop         No info   NaN
2669          Air India       6/03/2019    Delhi      Cochin  ...  15h 15m      1 stop         No info   NaN
2670  Multiple carriers      15/06/2019    Delhi      Cochin  ...  14h 20m      1 stop         No info   NaN

[5 rows x 11 columns]

In [268]:
final_df.isnull().sum()

Airline               0
Date_of_Journey       0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
dtype: int64

In [269]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

In [270]:
final_df.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

# FEATURE ENGINEERING STARTS

In [271]:
final_df.head()

       Airline Date_of_Journey    Source Destination  ... Duration Total_Stops Additional_Info    Price
0       IndiGo      24/03/2019  Banglore   New Delhi  ...   2h 50m    non-stop         No info   3897.0
1    Air India       1/05/2019   Kolkata    Banglore  ...   7h 25m     2 stops         No info   7662.0
2  Jet Airways       9/06/2019     Delhi      Cochin  ...      19h     2 stops         No info  13882.0
3       IndiGo      12/05/2019   Kolkata    Banglore  ...   5h 25m      1 stop         No info   6218.0
4       IndiGo      01/03/2019  Banglore   New Delhi  ...   4h 45m      1 stop         No info  13302.0

[5 rows x 11 columns]

In [272]:
final_df['Date'] = final_df['Date_of_Journey'].str.split('/').str[0]

In [273]:
final_df['Month'] = final_df['Date_of_Journey'].str.split('/').str[1]
final_df['Year'] = final_df['Date_of_Journey'].str.split('/').str[2]

In [274]:
final_df.head()

       Airline Date_of_Journey    Source Destination                  Route  ... Additional_Info    Price Date Month  Year
0       IndiGo      24/03/2019  Banglore   New Delhi              BLR → DEL  ...         No info   3897.0   24    03  2019
1    Air India       1/05/2019   Kolkata    Banglore  CCU → IXR → BBI → BLR  ...         No info   7662.0    1    05  2019
2  Jet Airways       9/06/2019     Delhi      Cochin  DEL → LKO → BOM → COK  ...         No info  13882.0    9    06  2019
3       IndiGo      12/05/2019   Kolkata    Banglore        CCU → NAG → BLR  ...         No info   6218.0   12    05  2019
4       IndiGo      01/03/2019  Banglore   New Delhi        BLR → NAG → DEL  ...         No info  13302.0   01    03  2019

[5 rows x 14 columns]

In [275]:
final_df['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [276]:
final_df['Destination'].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [277]:
final_df['Date'] = final_df['Date'].astype(int)
final_df['Month'] = final_df['Month'].astype(int)
final_df['Year'] = final_df['Year'].astype(int)

In [278]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  int64
 12  Month            13354 non-null  int64
 13  Year             13354 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 1.5+ MB

In [279]:
final_df.drop('Date_of_Journey',  inplace = True, axis=1)

In [280]:
final_df.head()

       Airline    Source Destination                  Route Dep_Time  ... Additional_Info    Price Date Month  Year
0       IndiGo  Banglore   New Delhi              BLR → DEL    22:20  ...         No info   3897.0   24     3  2019
1    Air India   Kolkata    Banglore  CCU → IXR → BBI → BLR    05:50  ...         No info   7662.0    1     5  2019
2  Jet Airways     Delhi      Cochin  DEL → LKO → BOM → COK    09:25  ...         No info  13882.0    9     6  2019
3       IndiGo   Kolkata    Banglore        CCU → NAG → BLR    18:05  ...         No info   6218.0   12     5  2019
4       IndiGo  Banglore   New Delhi        BLR → NAG → DEL    16:50  ...         No info  13302.0    1     3  2019

[5 rows x 13 columns]

In [281]:
# str.split(" ").str[0]
final_df['Arrival_Time'] = final_df['Arrival_Time'].apply(lambda x: x.split(" ")[0])

In [282]:
final_df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
dtype: int64

In [283]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  object
 8   Additional_Info  13354 non-null  object
 9   Price            10683 non-null  float64
 10  Date             13354 non-null  int64
 11  Month            13354 non-null  int64
 12  Year             13354 non-null  int64
dtypes: float64(1), int64(3), object(9)
memory usage: 1.4+ MB

In [284]:
final_df['Arrival_hour'] = final_df['Arrival_Time'].apply(lambda x: x.split(":")[0]).astype(int) 
final_df['Arrival_minute'] = final_df['Arrival_Time'].apply(lambda x: x.split(":")[1]).astype(int)

In [285]:
final_df['Dep_Hour'] =  final_df['Dep_Time'].apply(lambda x: x.split(":")[0])

In [286]:
final_df['Dep_Minute'] =  final_df['Dep_Time'].apply(lambda x: x.split(":")[1])

In [287]:
final_df['Dep_Hour'] = final_df['Dep_Hour'].astype(int)

In [288]:
final_df['Dep_Minute'] = final_df['Dep_Minute'].astype(int)

In [289]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  object
 8   Additional_Info  13354 non-null  object
 9   Price            10683 non-null  float64
 10  Date             13354 non-null  int64
 11  Month            13354 non-null  int64
 12  Year             13354 non-null  int64
 13  Arrival_hour     13354 non-null  int64
 14  Arrival_minute   13354 non-null  int64
 15  Dep_Hour         13354 non-null  int64
 16  Dep_Minute       13354 non-null  int64
dtypes: float64(1), int64(7), object(9)
memory usage: 1.8+ MB

In [290]:
final_df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
Arrival_hour          0
Arrival_minute        0
Dep_Hour              0
Dep_Minute            0
dtype: int64

In [291]:
final_df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [292]:
final_df.drop('Arrival_Time', axis=1, inplace = True)

In [293]:
final_df['Total_Stops'] = final_df['Total_Stops'].fillna('1 stop')

In [294]:
final_df['Total_Stops'].isnull().sum()

np.int64(0)

In [295]:
final_df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Duration              0
Total_Stops           0
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
Arrival_hour          0
Arrival_minute        0
Dep_Hour              0
Dep_Minute            0
dtype: int64

In [296]:
final_df['Total_Stops'] = final_df['Total_Stops'].map({'non-stop': 0, '2 stops': 2, '1 stop': 1, '3 stops': 3,'4 stops': 4})

In [298]:
final_df.drop('Dep_Time', axis=1, inplace = True)

In [304]:
final_df.drop('Route', axis=1, inplace=True)

In [311]:
final_df.Duration.unique()

array(['2h 50m', '7h 25m', '19h', '5h 25m', '4h 45m', '2h 25m', '15h 30m',
       '21h 5m', '25h 30m', '7h 50m', '13h 15m', '2h 35m', '2h 15m',
       '12h 10m', '26h 35m', '4h 30m', '22h 35m', '23h', '20h 35m',
       '5h 10m', '15h 20m', '2h 55m', '13h 20m', '15h 10m', '5h 45m',
       '5h 55m', '13h 25m', '22h', '5h 30m', '10h 25m', '5h 15m',
       '2h 30m', '6h 15m', '11h 55m', '11h 5m', '8h 30m', '22h 5m',
       '2h 45m', '12h', '16h 5m', '19h 55m', '3h 15m', '25h 20m', '3h',
       '16h 15m', '15h 5m', '6h 30m', '25h 5m', '12h 25m', '27h 20m',
       '10h 15m', '10h 30m', '1h 30m', '1h 25m', '26h 30m', '7h 20m',
       '13h 30m', '5h', '19h 5m', '14h 50m', '2h 40m', '22h 10m',
       '9h 35m', '10h', '21h 20m', '18h 45m', '12h 20m', '18h', '9h 15m',
       '17h 30m', '16h 35m', '12h 15m', '7h 30m', '24h', '8h 55m',
       '7h 10m', '14h 30m', '30h 20m', '15h', '12h 45m', '10h 10m',
       '15h 25m', '14h 5m', '20h 15m', '23h 10m', '18h 10m', '16h',
       '2h 20m', '8h', '16h 55m', '3h 10m', '14h', '23h 50m', '21h 40m',
       '21h 15m', '10h 50m', '8h 15m', '8h 35m', '11h 50m', '27h 35m',
       '8h 25m', '20h 55m', '4h 50m', '8h 10m', '24h 25m', '23h 35m',
       '25h 45m', '26h 10m', '28h 50m', '25h 15m', '9h 20m', '9h 10m',
       '3h 5m', '11h 30m', '9h 30m', '17h 35m', '5h 5m', '25h 50m', '20h',
       '13h', '18h 25m', '24h 10m', '4h 55m', '25h 35m', '6h 20m',
       '18h 40m', '19h 25m', '29h 20m', '9h 5m', '10h 45m', '11h 40m',
       '22h 55m', '37h 25m', '25h 40m', '13h 55m', '8h 40m', '23h 30m',
       '12h 35m', '24h 15m', '1h 20m', '11h', '11h 15m', '14h 35m',
       '12h 55m', '9h', '7h 40m', '11h 45m', '24h 55m', '17h 5m',
       '29h 55m', '22h 15m', '14h 40m', '7h 15m', '20h 10m', '20h 45m',
       '27h', '24h 30m', '20h 25m', '5h 35m', '14h 45m', '5h 40m',
       '4h 5m', '15h 55m', '7h 45m', '28h 20m', '4h 20m', '3h 40m',
       '8h 50m', '23h 45m', '24h 45m', '21h 35m', '8h 5m', '6h 25m',
       '15h 50m', '26h 25m', '24h 50m', '26h', '23h 5m', '7h 55m',
       '26h 20m', '23h 15m', '5h 20m', '4h', '9h 45m', '8h 20m',
       '17h 25m', '7h 5m', '34h 5m', '6h 5m', '5h 50m', '7h', '4h 25m',
       '13h 45m', '19h 15m', '22h 30m', '16h 25m', '13h 50m', '27h 5m',
       '28h 10m', '4h 40m', '15h 40m', '4h 35m', '18h 30m', '38h 15m',
       '6h 35m', '12h 30m', '11h 20m', '7h 35m', '29h 35m', '26h 55m',
       '23h 40m', '12h 50m', '9h 50m', '21h 55m', '10h 55m', '21h 10m',
       '20h 40m', '30h', '13h 10m', '8h 45m', '6h 10m', '17h 45m',
       '21h 45m', '3h 55m', '17h 20m', '30h 30m', '21h 25m', '12h 40m',
       '24h 35m', '19h 10m', '22h 40m', '14h 55m', '21h', '6h 45m',
       '28h 40m', '9h 40m', '16h 40m', '16h 20m', '16h 45m', '1h 15m',
       '6h 55m', '11h 25m', '14h 20m', '12h 5m', '24h 5m', '28h 15m',
       '17h 50m', '20h 20m', '28h 5m', '10h 20m', '14h 15m', '35h 15m',
       '35h 35m', '26h 40m', '28h', '14h 25m', '13h 5m', '37h 20m',
       '36h 10m', '25h 55m', '35h 5m', '19h 45m', '27h 55m', '47h',
       '10h 35m', '1h 35m', '16h 10m', '38h 20m', '6h', '16h 50m',
       '14h 10m', '23h 20m', '17h 40m', '11h 35m', '18h 20m', '6h 40m',
       '30h 55m', '24h 40m', '29h 50m', '28h 25m', '17h 15m', '22h 45m',
       '25h 25m', '21h 50m', '33h 15m', '30h 15m', '3h 35m', '27h 40m',
       '30h 25m', '18h 50m', '27h 45m', '15h 15m', '10h 40m', '26h 15m',
       '36h 25m', '26h 50m', '15h 45m', '19h 40m', '22h 25m', '19h 35m',
       '25h', '26h 45m', '38h', '4h 15m', '25h 10m', '18h 15m', '6h 50m',
       '23h 55m', '17h 55m', '23h 25m', '17h 10m', '24h 20m', '28h 30m',
       '27h 10m', '19h 20m', '15h 35m', '9h 25m', '21h 30m', '34h 25m',
       '18h 35m', '29h 40m', '26h 5m', '29h 5m', '27h 25m', '16h 30m',
       '11h 10m', '28h 55m', '29h 10m', '34h', '30h 40m', '30h 45m',
       '32h 55m', '10h 5m', '35h 20m', '32h 5m', '31h 40m', '19h 50m',
       '33h 45m', '30h 10m', '13h 40m', '19h 30m', '31h 30m', '34h 30m',
       '27h 50m', '38h 35m', '42h 5m', '4h 10m', '39h 5m', '3h 50m', '5m',
       '32h 30m', '31h 55m', '33h 20m', '27h 30m', '18h 55m', '9h 55m',
       '41h 20m', '20h 5m', '31h 50m', '42h 45m', '3h 25m', '37h 10m',
       '29h 30m', '32h 20m', '20h 50m', '40h 20m', '13h 35m', '47h 40m',
       '20h 30m', '3h 45m', '31h 10m', '40h 40m', '22h 50m', '32h 25m'],
      dtype=object)

In [312]:
final_df.head()

       Airline    Source Destination Duration  Total_Stops  ...  Year  Arrival_hour  Arrival_minute  Dep_Hour  Dep_Minute
0       IndiGo  Banglore   New Delhi   2h 50m            0  ...  2019             1              10        22          20
1    Air India   Kolkata    Banglore   7h 25m            2  ...  2019            13              15         5          50
2  Jet Airways     Delhi      Cochin      19h            2  ...  2019             4              25         9          25
3       IndiGo   Kolkata    Banglore   5h 25m            1  ...  2019            23              30        18           5
4       IndiGo  Banglore   New Delhi   4h 45m            1  ...  2019            21              35        16          50

[5 rows x 14 columns]

In [315]:
final_df['Duration_hour'] = final_df['Duration'].apply(lambda x: x.split(" ")[0]).apply(lambda x: x.split("h")[0])

In [330]:
final_df[final_df['Duration_hour'] == '5m']

        Airline  Source Destination Duration  ...  Arrival_minute Dep_Hour  Dep_Minute  Duration_hour
6474  Air India  Mumbai   Hyderabad       5m  ...              55       16          50             5m

[1 rows x 15 columns]

In [332]:
final_df.drop(6674, axis= 0, inplace = True)

KeyError: '[6674] not found in axis'

In [333]:
final_df.drop(2660, axis= 0, inplace = True)

KeyError: '[2660] not found in axis'

In [340]:
final_df[final_df['Duration_hour'] == '5m']

        Airline  Source Destination Duration  ...  Arrival_minute Dep_Hour  Dep_Minute  Duration_hour
6474  Air India  Mumbai   Hyderabad       5m  ...              55       16          50             5m

[1 rows x 15 columns]

In [346]:
final_df[final_df['Duration_hour'] == '5m']

Empty DataFrame
Columns: [Airline, Source, Destination, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Arrival_hour, Arrival_minute, Dep_Hour, Dep_Minute, Duration_hour]
Index: []

In [345]:
final_df.drop(6474, inplace =True, axis=0)

In [349]:
final_df['Duration_hour'].isnull().sum()

np.int64(0)

In [350]:
final_df.head()

       Airline    Source Destination Duration  ...  Arrival_minute Dep_Hour  Dep_Minute  Duration_hour
0       IndiGo  Banglore   New Delhi   2h 50m  ...              10       22          20              2
1    Air India   Kolkata    Banglore   7h 25m  ...              15        5          50              7
2  Jet Airways     Delhi      Cochin      19h  ...              25        9          25             19
3       IndiGo   Kolkata    Banglore   5h 25m  ...              30       18           5              5
4       IndiGo  Banglore   New Delhi   4h 45m  ...              35       16          50              4

[5 rows x 15 columns]

In [351]:
final_df.drop('Duration', axis = 1, inplace=True)

In [353]:
final_df.head()

       Airline    Source Destination  Total_Stops  ... Arrival_minute  Dep_Hour  Dep_Minute  Duration_hour
0       IndiGo  Banglore   New Delhi            0  ...             10        22          20              2
1    Air India   Kolkata    Banglore            2  ...             15         5          50              7
2  Jet Airways     Delhi      Cochin            2  ...             25         9          25             19
3       IndiGo   Kolkata    Banglore            1  ...             30        18           5              5
4       IndiGo  Banglore   New Delhi            1  ...             35        16          50              4

[5 rows x 14 columns]

In [354]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13350 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13350 non-null  object
 1   Source           13350 non-null  object
 2   Destination      13350 non-null  object
 3   Total_Stops      13350 non-null  int64
 4   Additional_Info  13350 non-null  object
 5   Price            10680 non-null  float64
 6   Date             13350 non-null  int64
 7   Month            13350 non-null  int64
 8   Year             13350 non-null  int64
 9   Arrival_hour     13350 non-null  int64
 10  Arrival_minute   13350 non-null  int64
 11  Dep_Hour         13350 non-null  int64
 12  Dep_Minute       13350 non-null  int64
 13  Duration_hour    13350 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 1.5+ MB

In [363]:
final_df['Duration_hour'] = final_df['Duration_hour'].astype(int)*30

In [364]:
final_df.head()

       Airline    Source Destination  Total_Stops  ... Arrival_minute  Dep_Hour  Dep_Minute  Duration_hour
0       IndiGo  Banglore   New Delhi            0  ...             10        22          20            120
1    Air India   Kolkata    Banglore            2  ...             15         5          50            420
2  Jet Airways     Delhi      Cochin            2  ...             25         9          25           1140
3       IndiGo   Kolkata    Banglore            1  ...             30        18           5            300
4       IndiGo  Banglore   New Delhi            1  ...             35        16          50            240

[5 rows x 14 columns]

In [381]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13350 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13350 non-null  int64
 1   Source           13350 non-null  int64
 2   Destination      13350 non-null  int64
 3   Total_Stops      13350 non-null  int64
 4   Additional_Info  13350 non-null  int64
 5   Price            10680 non-null  float64
 6   Date             13350 non-null  int64
 7   Month            13350 non-null  int64
 8   Year             13350 non-null  int64
 9   Arrival_hour     13350 non-null  int64
 10  Arrival_minute   13350 non-null  int64
 11  Dep_Hour         13350 non-null  int64
 12  Dep_Minute       13350 non-null  int64
 13  Duration_hour    13350 non-null  int64
dtypes: float64(1), int64(13)
memory usage: 1.5 MB

In [382]:
final_df.isnull().sum()

Airline               0
Source                0
Destination           0
Total_Stops           0
Additional_Info       0
Price              2670
Date                  0
Month                 0
Year                  0
Arrival_hour          0
Arrival_minute        0
Dep_Hour              0
Dep_Minute            0
Duration_hour         0
dtype: int64